In [5]:
import pandas as pd
import numpy as np
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [24]:
df = pd.read_csv("HospitalGeneralInformation.csv",encoding="ISO-8859-1")
df.describe()

         Provider ID      ZIP Code  Phone Number
count    4812.000000   4812.000000  4.812000e+03
mean   268294.422901  53990.132377  5.849100e+09
std    157109.340215  26915.916870  2.331563e+09
min     10001.000000    603.000000  9.369338e+08
25%    140185.750000  33015.250000  4.015615e+09
50%    260043.500000  55410.500000  6.053413e+09
75%    390222.250000  76035.500000  7.877574e+09
max    670118.000000  99929.000000  9.898943e+09

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4812 entries, 0 to 4811
Data columns (total 28 columns):
Provider ID                                                      4812 non-null int64
Hospital Name                                                    4812 non-null object
Address                                                          4812 non-null object
City                                                             4812 non-null object
State                                                            4812 non-null object
ZIP Code                                                         4812 non-null int64
County Name                                                      4797 non-null object
Phone Number                                                     4812 non-null int64
Hospital Type                                                    4812 non-null object
Hospital Ownership                                               4812 non-null object
Emergency Services                                               4812 non-null object
Meets criteria for meaningful use of EHRs                        4669 non-null object
Hospital overall rating                                          4812 non-null object
Hospital overall rating footnote                                 1398 non-null object
Mortality national comparison                                    4812 non-null object
Mortality national comparison footnote                           1352 non-null object
Safety of care national comparison                               4812 non-null object
Safety of care national comparison footnote                      2168 non-null object
Readmission national comparison                                  4812 non-null object
Readmission national comparison footnote                         1017 non-null object
Patient experience national comparison                           4812 non-null object
Patient experience national comparison footnote                  1369 non-null object
Effectiveness of care national comparison                        4812 non-null object
Effectiveness of care national comparison footnote               1202 non-null object
Timeliness of care national comparison                           4812 non-null object
Timeliness of care national comparison footnote                  1266 non-null object
Efficient use of medical imaging national comparison             4812 non-null object
Efficient use of medical imaging national comparison footnote    2033 non-null object
dtypes: int64(3), object(25)
memory usage: 1.0+ MB